<h1>Hi</h1>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Logout</button>
</form>

<form action="/" method="POST">
  <button type="submit">create new document</button>
</form>

<ul>
  <li>
    <%= documentId %>
  </li>
</ul>
